* {box-sizing: border-box} /*this isn't right*/

/*header style*/
header{
  background-color: #3D9BB7;
  color: #ffffff;
  padding: 2em 7em 2em 7em;
  /*border-style: dashed;*/
  box-sizing: border-box;
}

header h1 a{
  font-size: 2em;
  text-decoration: none;
  color: #ffffff;
  font-family: sans-serif;
}

header h2{
  font-weight: normal;
  max-width: 15em;
  text-decoration: none;
  font-family: sans-serif;
}

nav{
  background-color: #EBEBEB;
  padding: 1em 5em 1em 5em;
  /*border-style: dashed;*/
  box-sizing: border-box;
}

nav li{
  text-decoration: none;
  font-family: sans-serif;
  /*border-style: dashed;*/
  font-size: 11pt;
  font-weight: bold;
  color: #3A3A3A;
  display: inline;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

nav li a{
  text-decoration: none;
  font-family: sans-serif;
  font-size: 11pt;
  font-weight: bold;
  color: #3A3A3A;
}

nav li a:hover{
  color: #3D9BB7;
}

/*main body*/
.cat-main{
  float: left;
  max-width: 35em;
  padding: 1em;
  margin: 0em 1em 3em 7em;
  /*border-style: dashed;*/
  box-sizing: border-box;
  font-family: sans-serif;
}

#cat-main-h3{
  color: #3D9BB7;
  font-size: 15pt;
  line-height: 1.5;
}

#cat-main-jeremy{
  color: #3D9BB7;
  font-weight: normal;
  font-size: 16pt;
  margin: 2em 0 2em 0;
  line-height: 1.5;
}

#cat-main-p{
  font-size: 11pt;
  font-weight: normal;
  line-height: 1.5;
}

#cat-main-p1{
  font-size: 11pt;
  font-weight: normal;
  line-height: 1.5;
}

#cat-main-p2{
  font-size: 11pt;
  font-weight: normal;
  line-height: 1.5;
}

#cat-main-h4{
  color: #3A3A3A;
  line-height: 1.5;
}

a{
  font-family: sans-serif;
  font-size: 11pt;
  font-weight: normal;
  color: #3D9BB7;
  text-decoration: none;
}

/*aside styles*/
aside{
  float: right;
  max-width: 17em;
  padding: 1em;
  margin: 0em 7em 3em 0em;
  /*border-style: dashed;*/
  box-sizing: border-box;
}

aside h4{
  font-family: sans-serif;
  color: #3A3A3A;
  line-height: 1.5;
}

aside p{
  font-family: sans-serif;
  font-size: 12pt;
  line-height: 1.5;
}

aside section a{
  font-family: sans-serif;
  font-size: 11pt;
  font-weight: normal;
  color: #3D9BB7;
  text-decoration: none;
}

#aside-figure{
  /*border-style: dashed;*/
  width: 12em;
  margin: 0 5em 1em 0;
}

#img-font{
  font-family: sans-serif;
  font-size: 11pt;
  font-weight: normal;
}

#aside-img{
  width: 12em;
}

/*footer*/
footer{
  background-color: #3A3A3A;
  clear: both;
  box-sizing: border-box;
  text-align: center;
  /*border-style: dashed;*/
  font-family: sans-serif;
  color: #ffffff;
  font-weight: normal;
  font-size: 8pt;
  padding: 8em 0 8em 0;
}

footer nav{
  box-sizing: border-box;
  background-color: #3A3A3A;
  /*border-style: dashed;*/
  padding-bottom: 1em;
}

footer nav li{
  text-decoration: none;
  font-family: sans-serif;
  /*border-style: dashed;*/
  font-size: 8pt;
  font-weight: bold;
  color: #ffffff;
  display: inline;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

footer nav li a{
  text-decoration: none;
  font-family: sans-serif;
  font-size: 8pt;
  font-weight: bold;
  color: #ffffff;
}

footer nav li a:hover{
  color: #3D9BB7;
}

footer figure{
  width: 30em;
  /*border-style: dashed;*/
  padding: 0 0 2em 0;
  margin: auto;
}

footer figure figcaption{
  padding: 2em 0 0 0;
  text-align: center;
  line-height: 2;
}

/*about page*/
.about-k2go{
  float: left;
  width: auto;
  padding: 1em;
  margin: 0em 7em 1em 7em;
  /*border-style: dashed;*/
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
}

#about-h3{
  color: #3D9BB7;
  font-size: 15pt;
  line-height: 1.5;
}

#address{
  text-align: center;
  font-weight: bold;
  color: #3D9BB7;
}
