* {box-sizing: border-box}

/*header style*/
header{
  background-color: #3D9BB7;
  color: #ffffff;
  padding: 2em 7em 2em 7em;
  /*border-style: dashed;*/
  box-sizing: border-box;
}

.top-nav{
  background-color: #EBEBEB;
  padding: 1em 7em 1em 7em;
  /*border-style: dashed;*/
  box-sizing: border-box;
}

/*main body*/
.cat-main{
  float: left;
  width: 35em;
  padding: 1em;
  margin: 0em 1em 0em 7em;
  /*border-style: dashed;*/
  box-sizing: border-box;
}

/*aside styles*/
aside{
  float: right;
  width: 17em;
  padding: 1em;
  margin: 0em 7em 0em 0em;
  /*border-style: dashed;*/
  box-sizing: border-box;
}

/*footer*/
footer{
  background-color: #3A3A3A;
  clear: both;
  box-sizing: border-box;
  text-align: center;
}
